/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c62828;
    padding: 15px 10%;
    color: white;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.user-actions input {
    padding: 5px;
}