<!-- Header -->
<header>
    <div class="logo" [routerLink]="'/'">
        <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="CGV Logo">
    </div>
    <nav>
        <ul>
            <li><a href="#">Lịch Chiếu</a></li>
            <li><a href="#">Rạp CGV</a></li>
            <li><a href="#">Thành Viên</a></li>
            <li><a href="#">Ưu Đãi</a></li>
            <li><a href="#">Mua Vé</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <input type="text" placeholder="Tìm kiếm phim...">
        <button [routerLink]="'/register'">Đăng ký/Đăng nhập</button>
        <button>Vé của tôi</button>
        <button class="logout-btn" (click)="logout()">Đăng xuất</button>
    </div>
</header>
