<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let movie of movies" class="movie-slide">
    <img [src]="movie.imageUrl" [alt]="movie.movieName">
    <div class="movie-info">
      <span class="age-rating">{{ movie.rating }}</span>
    </div>
    <h3>{{ movie.movieName }}</h3>
    <div class="buttons">
      <button appHighLight (click)="viewDetails(movie)">XEM CHI TIẾT</button>
      <button (click)="buyTicket(movie)">MUA VÉ</button>
    </div>
  </div>
</ngx-slick-carousel>

<!-- Nút điều hướng -->
<button class="prev-btn" (click)="slickModal.slickPrev()">❮</button>
<button class="next-btn" (click)="slickModal.slickNext()">❯</button>

<!-- Gọi MovieDetailComponent và truyền, nhận dữ liệu -->
<app-detail [selectedMovie]="selectedMovie" [show]="showDetailPopup" (closePopupEvent)="closePopup()"></app-detail>

<!-- Popup Buy Ticket Component -->
<app-movie-booking-popup 
  [showTicketPopup]="showTicketPopup" 
  [selectedMovie]="selectedMovie" 
  (closeTicketPopup)="closeTicketPopup()">
</app-movie-booking-popup>